{%extends 'home/header.html'%}

{% block content%}
    <h2 style="text-align:center;">Login Page</h2>
    <h3 class="col-md-4 offset-md-4">Login </h3>

    <form method="post" action="login">
        {% csrf_token %}
        <div class = "container">
            <div class="col-md-4 offset-md-4">
            Name:<input class="form-control" required name="name">
            Password:<input class="form-control" type = "password"required name="pass"><br>
            <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
{{msg}}<br>
{{status}}
{% endblock%}
